#container {
    width: 100vw;
    height: 100vh;
    /border: 1px solid black;
    display: inline-block;
    position: relative;
    text-align: center;
}

.parent{
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(97, 60, 109);
    padding: 2%;
    color: white;
    border-radius: 15%;
}

input{
    color: black;
    width: 20vw;
    position: relative;
    height: 10vh;
    text-align: center;
    font-size: 3vw;
}

#response_div{
    height: 10vh;
    line-height: 3;
    /border: 1px dashed blue;
    margin-top: 5%;
    font-size: 20px;
}

.btn{
    margin-top: 10%;
    margin-bottom: 5%;
    height:10vh;
    width: 45%;
    font-size: 2vw;
}

@media screen and (max-width: 1000px){
    .parent{
        width: 75%;
    }
    h1{
        font-size: 7vw;
    }
    input, #response_div, .btn {
        font-size: 5vw;
    }
    input{
        width: 40vw;
    }
    /*.btn{*/
        /*height: 5vh;*/
        /*width: 45%;*/
    /*}*/
}
